@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="eight columns">
        <header class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>@ViewBag.Message</h2>
        </header>

        <article>
            <p>
                Overview of company etc
            </p>

            <p>
                Links to suppliers
            </p>

            <p>
                quote from customer
            </p>
        </article>
    </div>
</div>

