@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="twelve columns">
        <header class="title">
            <h1>Contact</h1>
        </header>
        @if (ViewBag.OutofHours == true)
        {
            Html.RenderPartial("_OutofHours");
        }
        else
        {
            Html.RenderPartial("_ContactForm");
        }

    </div>
</div>
