
@{
    ViewBag.Title = "Contact";
}
@{Html.RenderPartial("_header");}
<div class="row">
    <div class="twelve columns">
        @{Html.RenderPartial("_ContactForm");}
    </div>
</div>

@{Html.RenderPartial("_loginModal");}



