@{
    ViewBag.Title = "LP Copiers";
}
@section HeaderSCripts {
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script type="text/javascript">
        function initialize() {
            var myLatLong = new google.maps.LatLng(53.053184, -3.006527);
            var mapOptions = {
                center: myLatLong,
                zoom: 12,
                disableDefaultUI: true,
                scrollwheel: false
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);
            var marker = new google.maps.Marker({
                position: myLatLong,
                map: map,
                title: 'here we are',
                show: true
            });
            var contentString = '<div id="content">' +
                '<div class="content">' +
                        'Wrexham Main Office <br/>' +
                        'Mold Road <br />' +
                        '01111 123123'+
                    '</div>' +
                '</div>';
            var infoWindow = new google.maps.InfoWindow({
                content: contentString,

            });
            infoWindow.open(map, marker);
            //google.maps.event.addListener(marker, 'click', function () {
            //    infoWindow.open(map,marker);
            //})
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>

}
@section featured {
    <section class="parallax" data-parallax="0.5" id="parallax_one" data-offset="60">
        <div class="overlay">
            <div class="row">
                <article class="twelve columns darkParallax ">
                    <h1>@ViewBag.Title.</h1>
                    <h2>@ViewBag.Heading</h2>
                    <p>@Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "clearBtn" })</p>
                 </article>
            </div>
         </div>
    </section>
}

<section >
    <div class="row">
        <div class="twelve columns text-center ">
            <article class="testimonial">
                <span class="quoteMark one column">&#8220;</span>
                <p class="quote ten columns">
                        As a fast moving business we needed someone who could fix our problems quickly while being cost effective
                        , LP has all this covered - <span class="subhead">Henry Trutt, RT Systems</span>
                </p>
                <span class="quoteMark quoteMark one column">&#8221;</span>


            </article>
        </div>
    </div>
</section>

<section id="services">
    <div class="row">
        <div class="six columns" >
            <h2>What We Offer</h2>
            <p>Uk wide service and repair of photocopier and printing equipment.</p>
            <p>Our expert trained staff have experience with all main makes of @Html.ActionLink("learn more", "About", "Home")</a></p>
        </div>

        <div class="six columns text-center">
            <p class="largeIcon"><i class="icon-docs"></i></p>
        </div>
        
    </div>
</section>

<section id="suppliers">
    <div class="row">
        <article class="centered ten columns">
            <ul class="horizontal_list">
                <li><img src="~/Images/suppliers/canon_Logo.gif" /></li>
                <li><img src="~/Images/suppliers/epson_Logo.jpg" /></li>
                <li><img src="~/Images/suppliers/ricoh_Logo.gif" /> </li>
                <li><img src="~/Images/suppliers/xerox_Logo.jpg" /></li>
            </ul>
        </article>
    </div>
</section>

<section id="map">

    <div id="map-canvas"></div>
</section>

<section id="bottomCallOut">
    <div class="row">
        <article class="six columns text-center">
            <p class="largeIcon"><i class="icon-rocket"></i></p>
</article>
        <article class="six columns">
            <h2>Ready to talk?</h2>
            <p>Contact us now to discuss your needs and explore what services we can offer</p>
            <p class="footer_phone_no">01111 123123</p>
            <p class="button_p"><a href="#" class="clearBtn">Contact Us</a></p>
        </article>
    </div>
</section>