@model LPCopiers.Models.Manufacture

@{
    ViewBag.Title = "Manufacturers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{Html.RenderPartial("_header");}
<div class="row">
    <div class="twelve columns">
       @{Html.RenderPartial("_ManuForm");}
    </div>
</div>

@{Html.RenderPartial("_loginModal");}
