@model LPCopiers.Models.Manufacture

@{
    ViewBag.Title = "Manufacturers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="twelve columns">
        <header class="title">
            <h1>Search Manufacturers</h1>
        </header>
        @if (ViewBag.Selection == null)
        {
            Html.RenderPartial("_ManuForm");
        }
        else
        {
            @ViewBag.Selection
        }

    </div>
</div>

