@model LPCopiers.Models.Manufacture

@{
    ViewBag.Title = "SelectedManufacturers";
}
@{Html.RenderPartial("_header");}
<div class="row">
    <div class="twelve columns">
        @{Html.RenderPartial("_selectedManufacturers");}
    </div>
</div>
