@model LPCopiers.Models.Manufacture

@{
    ViewBag.Title = "SelectedManufacturers";
}

<div class="row">
    <div class="twelve columns">
        <header class="title">
            <h1>Selected Manufacturers</h1>
        </header>
        @{Html.RenderPartial("_selectedManufacturers");}
    </div>
</div>
