@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="twelve columns">
        <header class="title">
            <h1>Services</h1>
            <p>LP Copiers sell copiers etc</p>
        </header>
        <p>Insert slider price calculator here</p>

        <p>Add callout to contact company</p>
    </div>
</div>
