@{
    ViewBag.Title = "ThankYou";
}

@{Html.RenderPartial("_header");}

<div class="row">
    <div class="twelve columns">
        <p>Thank you for contacting us</p>
        <p>Your @ViewBag.Request request has been received and a member of staff will contact you shortly to confirm</p>
    </div>
</div>
@{Html.RenderPartial("_loginModal");}