body {
}

@media (max-width: 830px) {
    .parallax h1, .parallax h2 {
        font-size: 3em;
    }
  .largeIcon {
    display: none;
  }
  #map{
      display: none;
  }
  .quoteMark{
      display: none;
  }
  #suppliers {
      display: none;
  }
  .footer_list{
      display:none;
  }

}
