/* Sticky footer styles - bootstrap
-------------------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:400,700);

html,
body {
    height: 100% !important;
    /* The html and body elements cannot have any padding or margin. */
}

h1, h2, h3, h4, h5 {
    font-family: 'Josefin Sans', sans-serif;
}

/*Wrapper for page content to push down footer*/
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height*/
    margin: 0 auto -100px;
    /* Pad bottom by footer height*/
    padding: 0 0 100px;
}

/* Set the fixed height of the footer here*/
#footer {
    height: 100px;
    background-color: #f5f5f5;
}

.navbar ul li > a:hover {
    color: #fff;
}
.navbar ul li {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Header Styles*/
.title {
    margin-top: 40px;
    background-color: rgba(112, 185, 239, 0.850);
    color: #fff;
}

.title h1, .title h2{
    color: #fff;
}

/*Parallax front page*/
#parallax_one {
    background: url(/images/officeImage.jpg);
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35em;
}

.parallax .overlay {
    background-color: rgba(112, 185, 239, 0.850);
    height: 100%;
}

.darkParallax {
    color: #fff;
    padding-top: 5em;
}

    .darkParallax p {
        padding-top: 2em;
    }

    .darkParallax h1, .darkParallax h2 {
        color: #fff;
    }

.parallax h1 {
    font-size: 5em;
}

.parallax h2 {
    font-size: 3.5em;
}

/*flat design clear button*/
.clearBtn {
    background: none;
    border-radius: 10px;
    border: 2px solid #fff;
    padding: 10px;
    font-size: 2em;
    height: auto;
    color: #fff;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

    .clearBtn:hover {
        background: #fff;
        color: #000;
    }


/*info tags*/
#infoTag {
    background-color: rgba(63, 178, 24, 0.8);
}

    #infoTag h2 {
        color: #fff;
        font-weight: bold;
    }

/*Testimonials*/
.testimonial {
    margin: 3em;
}

.quote {
    font-size: 1.5em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.quoteMark {
    font-size: 8em;
    color: #ccc;
    font-family: 'Times New Roman',serif;
}

.markTwo {
    text-align: right;
}

#services {
    background-color: rgba(0, 0, 139,0.30);
}
/*suppliers home page */
#suppliers {
    background-color: #6c6262;
}

    #suppliers ul li {
        padding: 1em;
        float: left;
    }

/*map home page*/
#map-canvas {
    height: 30em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*bottomCallout*/
#bottomCallOut {
    background-color: rgba(112, 185, 239, 0.850);
    color: #fff;
}

    #bottomCallOut h2 {
        color: #fff;
    }

.button_p {
    padding-top: 30px;
}
/*master layout footer*/
#footer {
    background-color: #222;
    color: #eee;
}

.footer_list li {
    float: right;
}

.footer_Links {
    font-size: 1.5em;
    padding: 0em 1em;
    border-left: 1px solid #fff;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.largeIcon {
    font-size: 12em;
}

.footer_list li:first-child {
    border-right: 1px solid #fff;
}

.footer_phone_no {
    font-size: 1.5em;
}

#link_gplus:hover {
    color: red;
}

#link_linked:hover {
    color: blue;
}

#link_twitter:hover {
    color: lightblue;
}

#link_fb:hover {
    color: darkblue;
}

.btn {
    color: #fff;
}

#logoutForm {
    margin: 0;
}

@-webkit-keyframes fade-text {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-moz-keyframes fade-text {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@-o-keyframes fade-text {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
@keyframes fade-text {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
/*Staff Menu*/
.side-nav{
    text-align: left;
    margin-top: 2em;
}

.side-nav li{
    margin-bottom: 0.273em;
    margin-top: 0.273em;
}

.side-nav li a{
    background: none;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.side-nav li a:hover {
   background: #E9E9E9;
}


/*custom error css*/
.field-validation-error {
    color: #c81b1b;
    -webkit-animation: fade-text 5s 1;
    -moz-animation: fade-text 5s 1;
    -o-animation: fade-text 5s 1;
    animation: fade-text 5s 1;
}
.input-validation-error{
    border-color: #ca3838 !important;
    color: #ca3838;
    background: #f0c5c5 !important;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}


/*miscellaneous*/
.btn {
    padding-left: 10px !important;
    padding-right: 10px !important;
}


/*style switcher links*/
#HighVisLink{
    background-color: #000;
    color: #edff00;
}

#HighVisLink:hover{
    background-color: #edff00;
    color: #000;
}

#darkLink{
    background-color: #050483;
    color: #fff;
}

#darkLink:hover{
    color: #050483;
    background-color: #fff;
}