@{
    ViewBag.Title = "Login Failure";
}
<div class="row">
    <div class="twelve columns">
        <header class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>Unsuccessful login with service.</h2>
        </header>
    </div>
</div>
