
<div class="four columns">
    <ul class="side-nav">
        <li>Welcome @User.Identity.Name</li>
        <li>@Html.ActionLink("Manage Login Details","Manage","Account")</li>
        <li>@Html.ActionLink("Manage Users","Index","User")</li>
        <li>@Html.ActionLink("Manage Equipment","Index","Equipment")</li>
    </ul>
</div>