@{
    ViewBag.Title = "Admin Area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="twelve columns" >
        <h2>Admin</h2>
        <h3>TODO:Admin Section</h3>
        <p>@Html.ActionLink("Engineer", "Index", "Engineer")</p>
    </div>
</div>
