
    <div class="four columns">
        <ul class="side-nav">
            <li>Welcome - UserName</li>
            <li>Manage Login Details</li>
            <li>@Html.ActionLink("Wage Calculator","WageCalculator")</li>
            <li>@Html.ActionLink("Parts Request", "PartsRequest")</li>
            <li>@Html.ActionLink("Equipment Register","DetailsByEngineer","Equipment")</li>
        </ul>
    </div>
