@model LPCopiers.Models.WageCalculator

@{
    ViewBag.Title = "WageCalculator";
}
<div class="row">
    <div class="twelve columns">
        <header class="title">
            <h1>WageCalculator</h1>
        </header>
    </div>


</div>
<div class="row">
    <div class="twelve columns">
        @{Html.RenderPartial("_WageForm");}
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
