@model LPCopiers.Models.WageCalculator

@{
    ViewBag.Title = "WageCalculator";
}
@{Html.RenderPartial("_header");}

<div class="row">
    <div class="twelve columns">
        @{Html.RenderPartial("_WageForm");}
    </div>
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
