<footer id="footer">
    <div class="row">
        <hr />
        <div class="four columns">
            <p class="text-muted">&copy; @DateTime.Now.Year - Robert Kingstone - s11002713</p>
        </div> 

    </div>
</footer>